.qualities-container {
  background-size: cover;
  background-position: center;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .qualities-container {
    margin: 6rem 0;
    padding: 6rem 2rem;
  }
}

@media (min-width: 1024px) {
  .qualities-container {
    margin: 9rem 0;
    padding: 8rem 4rem;
  }
}

.qualities-title-container {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .qualities-title-container {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .qualities-title-container {
    margin-bottom: 5rem;
  }
}

.qualities-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #000000;
  text-align: center;
}

@media (min-width: 768px) {
  .qualities-title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .qualities-title {
    font-size: 3rem;
  }
}

.qualities-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem; /* consistent spacing between cards */
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1136px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .qualities-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.qualities-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  transition: background 0.3s ease;
}

.qualities-card:hover {
  background: linear-gradient(to bottom right, #4299e1, #2b6cb0);
}

.qualities-card-content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.qualities-card-icon {
  margin-right: 1.25rem;
  width: 4rem;
  height: 3.5rem;
}

.qualities-card-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: #000000;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .qualities-card-title {
    font-size: 1.5rem;
  }
}

.qualities-card-description {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  color: #4d4d4d;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .qualities-card-description {
    font-size: 1rem;
  }
}
